.movies-card {
  position: relative;
  /* max-width: 300px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 600px) {
  .movies-card {
    /* max-width: 339px; */
    gap: 25px;
  }
}

@media (min-width: 1024px) {
  .movies-card {
    gap: 14px;
  }
}