.profile__input {
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
  background-color: #202020;
  border: none;
  text-align: right;
  outline: none;
}

.profile__input:focus {
  padding-bottom: 2px;
  border-bottom: 2px solid #4285F4;
}