.nav-auth__item {
  font-weight: 500;
  font-size: 10;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  transition: opacity .2s linear;
}

.nav-auth__item:hover {
  opacity: .7;
}

@media (min-width: 600px) {
  .nav-auth__item {
    font-size: 12px;
  }
}