.nav__container_mobile {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
}

@media (min-width: 769px) {
  .nav__container_mobile {
    position: relative;
  }
}