.nav__sidebar {
  margin-left: auto;
  padding: 18px 18px 46px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .nav__sidebar {
    width: 520px;
    padding: 27px 27px 90px;
  }
}

@media (min-width: 769px) {
  .nav__sidebar {
    padding: 0;
    width: auto;
    min-height: auto;
    flex-direction: row;
    gap: 50px;
  }
}