.nav__account-link {
  padding: 8px 12px;
  max-width: 100px;
  display: inline-flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 50px;
  transition: opacity .2s ease;
}

.nav__account-link:hover {
  opacity: .7;
}