.portfolio__item {
  background-image: url('../../images/portfolio-item-link.svg');
  background-repeat: no-repeat;
  background-position: 98% 25%;
  background-size: 10px;
  
  border-bottom: 1px solid #e6e6e6;
  transition: opacity .2s linear;
}

.portfolio__item:last-child {
  border: none;
}

.portfolio__item:hover {
  opacity: .6;
}

@media (min-width: 600px) {
  .portfolio__item {
    background-position: 99% 36%;
    background-size: 16px;
  }
}