.portfolio__item {
  background-image: url('../../images/portfolio-item-link.svg');
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: 18px;
  
  border-bottom: 1px solid #e6e6e6;
  transition: opacity .2s linear;
}

.portfolio__item:last-child {
  border: none;
}

.portfolio__item:hover {
  opacity: .6;
}