.footer {
  margin-top: auto;
  padding: 61px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-left: 70px;
    padding-right: 70px;
  }
}