.filter-checkbox__slider {
  position: absolute;
  inset: 0;
  background-color: #fff;
  border-radius: 16px;
  transition: .6s ease-in-out;
}

.filter-checkbox__slider::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #3DDC84;
}