.about-me__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}

@media (min-width: 600px) {
  .about-me__container {
    flex-direction: row;
    gap: 49px;
  }
}

@media (min-width: 1024px) {
  .about-me__container {
    gap: 270px;
  }
}