.auth-form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 260px;
}

@media (min-width: 600px) {
  .auth-form__container {
    max-width: 396px;
    width: 100%;
    justify-content: flex-start;
  }
}