.header {
  padding: 18px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-left: 70px;
    padding-right: 70px;
  }
}